.friends-container {
  margin-top: 4vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.friend-row {
  height: 80px;
  width: 100%;
  border-top: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.friend-row:first-child {

}

.friend-info, .friend-interest, .friend-status {
  display: flex;
  align-items: center;
  width: 33%;
  height: 80px;
  float: left;
}

.friends-result {
  display: none;
  height: auto;
  width: 25%;
  background-color: #FFFFFF;
  position: absolute;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px, rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


.friend-info {
  display: flex;
  align-items: center;
  max-width: 33%;
  height: 80px;
  float: left;
  padding-right: 20px;
}

.friend-info-img {
  margin-left: 20px;
}

.friend-info-username {
  margin-left: 10px;
}

.friend-interest p {
  font-size: 12px;
  padding: 2px 16px;
  background-color: green;
  border-radius: 32px;
  color: #FFFFFF;
  margin: 0 4%;
}

.friend-info-username h2 {
  font-weight: 400;
  font-size: calc(12px + .2vw);
}

.friend-info-img img {
  border-radius: 50%;
  width: 40px;
}

.friend-interest {
  height: 80px;
  float: left;
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1E8E3E;
  margin-right: 6px;
}

.fa-trash-can {
  color: #212121;
  margin-left: calc(60px + 2vw);
  margin-right: 30px;
  transition: .1s;
}

.request {
  margin-left: calc(40px + 2vw);
}


.friend-status p {
  font-size: calc(12px + .2vw);
}

.search-box {
  width: 25%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border-radius: 6px;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.friend-status i:hover {
  cursor: pointer;
}

.search-box input {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  outline: none;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 8px 10px;
  color: #414141;
}

.search-box input:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.friend-single-result {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.friend-single-result-center {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.friend-single-result-img {
  border-radius: 50%;
  margin-left: 14px;
  float: left;
}


.friend-single-result-username {
  width: fit-content;
  float: left;
  margin-left: 14px;
  margin-top: 9px;
}

.friend-single-result-link-inner {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.friend-single-result-username {
  font-size: 15px;
}

.friend-single-result-link {
  float: right;
  width: auto;
  margin-top: 8px;
}

.friend-single-result-link a {
  background-color: #1A73E8;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px;
  border-radius: 14px;
  padding: 2px 14px;
  margin-right: 2vw;
}

.friend-single-result-img img {
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1 / 1;
}

.fa-check {
  color: #000000;
  transition: .1s;
  }

.fa-check:hover {
  color: #1E8E3E;
}

.fa-trash-can:hover {
  color: #c91b0e;
}

.request {

}

.friend-status {
  width: auto;
  height: 80px;
  float: right;
}
